.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  
}

html, body {
  box-sizing: border-box;
 
  height: 100%;
  padding: 0px;
  margin: 0px;
}

aside{
  background:rgba(0,0,0,0.1); 
  background-image: url(https://cms-assets.tutsplus.com/uploads/users/33/posts/30712/image/Redpattern-min.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 26.5%; 
  background-position: 0px 82px;
  opacity: 0.65;
  color: gainsboro;
}

article, nav {
  background-color: #FFFFFF;
}


footer, header {
  background-color: #232931;
  color: #F0ECE2;
  background-attachment: fixed;
}



header > div {
  text-align: right;
  font: 230% Avenir Next lighter;
  padding: 1.6%;
  padding-right: 3.75%;
}

aside > .caption {
vertical-align: middle;
background-color: #E2E7E4;
padding: 16.8%;
padding-top: 11.4%;
margin: auto;
width: 35%;
border-radius: 10%;
}