.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 4.8% 26.5% auto 3%;
  grid-template-areas: 
      "h h h h h h h h h h"
      "m m m m m m m m m m"
      "c c c c c c c n n n"
      "f f f f f f f f f f";
}

header {
  grid-area: h;
}

aside {
  grid-area: m;
}

article {
  grid-area: c;
}

nav {
  grid-area: n;
}

footer {
  grid-area: f;
}




